


.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: visible;

  > span {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    img {
      filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));
      padding: 3px !important;
    }
  }
}

.blurWrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  
  > span {
    width: 100% !important;
    height: 100% !important;
  }

  &.unblur {
    opacity: 0;
  }
}

.blur {
  filter: blur(30px);
}

.loading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--background-color);
}