@import '../../styles/variables.module';

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  pointer-events: none;
  // mix-blend-mode: difference;
}
.smallBall {
  width: $innerCursorSize;
  height: $innerCursorSize;
  transition: all .25s ease-in-out;
  border-radius: 100%;
  background-color: $text-color;
  transform: translate(-($innerCursorSize/2),-($innerCursorSize/2));
  border: 1px solid $text-color;
}

.bigBall {
  width: $outerCursorSize;
  height: $outerCursorSize;
  transition: all .25s ease-in-out;
  border-radius: 100%;
  border: 1px solid $text-color;
  transform: translate(-($outerCursorSize/2),-($outerCursorSize/2));
}

.small {
  .smallBall {
    width: $innerCursorSize;
    height: $innerCursorSize;
    transform: translate(-($innerCursorSize/2), -($innerCursorSize/2));
  }

  .bigBall {
    width: $outerCursorSize;
    height: $outerCursorSize;
    transform: translate(-($outerCursorSize/2), -($outerCursorSize/2));
  }
}

.big {
  .smallBall {
    width: $outerCursorSize;
    height: $outerCursorSize;
    transform: translate(-($outerCursorSize/2), -($outerCursorSize/2));
    border-color: $text-color;
    background-color: transparent;
  }

  .bigBall {
    $outerCursorSizeBig: $outerCursorSize * 1.2;
    width: $outerCursorSizeBig;
    height: $outerCursorSizeBig;
    transform: translate(-($outerCursorSizeBig/2), -($outerCursorSizeBig/2));
  }
}