@import '../../styles/variables.module.scss';

@mixin setSize($size) {
  width: $size;
  height: $size;
  transform: translate(-($size/2), -($size/2));
}

.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  pointer-events: none;
}

.smallBall:after {
  content: '';
  inset: 0;
  position: absolute;
  @include setSize($innerCursorSize);
  transition: all .25s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  background-color: $text-color;
  border: 1px solid $text-color;
  border-radius: 100%;
}

.bigBall:after {
  content: '';
  inset: 0;
  position: absolute;
  @include setSize($outerCursorSize);
  transition: all .25s cubic-bezier(0.62, 0.05, 0.01, 0.99);
  border: 1px solid $text-color;
  border-radius: 100%;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: transparent;
  z-index: 20;
  transition: all .25s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

.small {
  &.smallBall:after {
    @include setSize($innerCursorSize);
  }

  &.bigBall:after {
    @include setSize($outerCursorSize);
  }
}

.big {
  $outerCursorSizeBig: $outerCursorSize * 1.3;
  $innerCursorSizeBig: $innerCursorSize * 3;

  &.fixed {
    mix-blend-mode: difference;
  }

  &.smallBall:after {
    @include setSize($innerCursorSizeBig);
    border-color: transparent;
    background-color: transparent;
  }

  &.bigBall:after {
    @include setSize($outerCursorSizeBig);
    border-color: $background-color;
    // background-color: $background-color;
  }
}

.withText {
  $outerCursorSizeBig: $outerCursorSize * 2;
  $innerCursorSizeBig: $innerCursorSize * 3;

  &.fixed {
    mix-blend-mode: normal;
  }

  &.smallBall:after {
    @include setSize($innerCursorSizeBig);
    border-color: transparent;
    background-color: transparent;
  }
  
  &.bigBall:after {
    @include setSize($outerCursorSizeBig);
    width: 0;
    height: 0;
    border: ($outerCursorSizeBig/2) solid $secondary-color;
    opacity: 0.9;
  }

  .text {
    @include setSize($outerCursorSizeBig);
    color: $background-color;
  }
}

.image {
  $outerCursorSizeBig: $outerCursorSize * 3;
  $innerCursorSizeBig: $innerCursorSize * 3;

  &.smallBall:after {
    border-color: transparent;
    background-color: transparent;
  }
  
  &.bigBall:after {
    @include setSize($outerCursorSizeBig);
  }

}