@use '../../styles/variables.module.scss';

.link {
  padding-top: 2px;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: variables.$text-color;
  }

  &.active {
    border-color: variables.$text-color;
  }

  &.blendMode {
    &:hover {
      border-color: variables.$background-color;
    }
  }
}