@use '../../styles/variables.module.scss';
@use '../../styles/mixins';

.outerWrapper {
  top: 0;
  position: sticky;
  height: 80px;
  width: 100%;
  z-index: 50;
  mix-blend-mode: difference;
  color: variables.$background-color;
}

.innerWrapper {
  @include mixins.inner-space;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: variables.$background-color
  }
}

.name {
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  text-transform: uppercase;
}

.spacer {
  border-left: 1px solid variables.$background-color;
  height: 30px;
  margin: 0 16px 0 16px;

  &:last-child {
    display: none;
  }
}