@use '../../styles/mixins';

.outerWrapper {
  @include mixins.inner-space;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

.headline {
  align-self: center;
}

.innerWrapper {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  > * {
    padding: 8px 0;
    margin: 8px 24px 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}