@import '../../styles/mixins';

.outerWrapper {
  @include inner-space;
}

.innerWrapper {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  > * {
    padding: 8px 0;
    margin: 0 8px 16px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}