@import '../../styles/mixins.scss';

.modalWrapper {
  position: fixed;
  inset: 0;
  z-index: 2;
}

.overlayOne {
  position: absolute;
  inset: 0;
  background-color: var(--action-color);
  display: flex;
  align-items: center;
  justify-content: center;

  .headline {
    @include headline(150px);
    color: var(--background-color);
    // font-style: italic;
    margin: 0;
  }
}

.overlayTwo {
  position: absolute;
  inset: 0;
  background-color: #fff;
}