@use '../../styles/mixins';
.outerWrapper {
  @include mixins.inner-space;
  width: 100%;
  margin-bottom: 80px;
}

.innerWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
}