@use './mixins';

.wrapper {
  overflow-x: hidden;
}

.minHeight {
  width: 100%;
  min-height: 90vh;
}

.smallHeight {
  width: 100%;
  min-height: 50vh;
}

.smallestHeight {
  width: 100%;
  min-height: 25vh;
}

.bigFont {
  @include mixins.headline(7rem);
}