@use './variables.module.scss';

@mixin inner-space {
  padding: 20px 120px;
}

@mixin inner-space-small {
  padding: 20px 120px;
  max-width: 80%;
}

@mixin headline($fontSize: $fontSize_highlight) {
  font-family: variables.$displayPrimary;
  font-size: $fontSize;
  letter-spacing: 3px;
  line-height: $fontSize;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}